

.spacer {
    padding: 10px;
	/*background: red;*/
}


/*
.button {
	font-family: Amethysta, sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	padding-left: 10px;
	padding-right: 10px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
	border:1px solid #a39964; 
	border-radius: 5px;
		background-color: rgba(40,40,40,0.95);
	padding: 5px;
	display: inline-block;
	width: 100px;
	color: white;
	cursor: pointer;
    
}



.button:hover {
    
	background-color: #6c6c6c;
	 
	
}
*/
td {
    position: relative;
    overflow: hidden;
    height: 30px;
	padding: 0px;
}

body {
	/*	display: none; */
	

	font-family: Amethysta, sans-serif;
	font-size: 16px;
	color: white;
    text-shadow: 1px 1px 2px #000000;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	/*display: block !important; for IE - meh!*/
/*	display: none; */
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
		background-color: rgba(40,40,40,0.95);
		background-size: cover;

}

.attribute_button {
		cursor: pointer;

	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 22px;
	margin: 5px 10px;
     
	  display: inline;
	  color: #a39964;
}

table {
	padding-top: 15px;
	
}

.statistics {
color: #40ec06;
}

#points_spent{
color: #40ec06;
line-height: 30px;
margin-bottom: 10px;
}

h2 {
	
	color: #a39964;
	padding-top: 10px;
}

.attribute {
  height: 35px;
  width: 70px;
  font: bold 20px Helvetica, sans-serif;
  
  text-align: center;
  background-color: #0d0d0d;
  border: 1px solid #a39964;	
	border-radius: 5px;	
	color: white;
	
}



div > .button{
	margin: 15px;
	width: 160px;	
	height: 40px;
}


.xfooter > ul{
	text-align: left;
	list-style-position: outside;
	 
}

.xfooter > ul > li{
	 padding: 10px;
	 
}


.skill_button {		
	cursor: pointer;
	font-size: 1px;	
	height: 48px;
	width: 48px;
	outline: none;
	color: transparent;	 
	border: 1px solid #a39964;	
	border-radius: 5px;	
}

/* Hiding +/- buttons */
.skill_button::-webkit-inner-spin-button, 
.skill_button::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
	-moz-appearance: textfield;
	appearance: textfield;
	margin: 0; 
}


.count_text{	
	cursor: default;
    bottom: 1px;
	font-size: 16px;	
	color: white;	
	font-weight: bold;
}

/* CONTAINERS --------------------------------------------------------------------------------*/

div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.skill_window {
	text-align: center;
	float:left;  
	border-left: 2px solid #a39964;	
}

.attribute_window {	
	float:left;	
	width: 370px;
	padding-left: 15px;
}

.column_builder, .xfooter {
	 display: flex;
 
 align-items: flex-start;
 	 flex-wrap: wrap;
	
	position: relative;
	
	
	 display: inline-block;
	 
 width: 970px;
	
	
	 height:auto;	
	
	
	 
	 
	 	
	background-color: rgba(13, 13, 13, .90);
	border: 2px solid #a39964;	
	border-radius: 5px;	

}

.line_container {
	width: auto;
	display: flex;
	justify-content: center;	
}

.container {	
	margin: 10px 25px;
}

.container_support {
	/* position: absolute;
	 right: 0;
    top: 10%;
 height: 88%;
width: 50px;
display: flex;
  justify-content: space-between;
   flex-direction: column;
  
   align-items: center;*/

 }
 
.container_combat, .container_horse, .container_support {
	
	
	float: left;
	


 }



/*
body {
	text-align: center;
	  
}
*/


/*example 03 Tooltip --------------------------------------------------------------------------------*/

#example-03 h3{
line-height: 30px;
margin-bottom: 10px;
color: a39964;
}

#example-03 > span{ 
width: 200px; 
padding: 10px;
margin-top: 20px; 

opacity: 0; 
visibility: hidden; 
z-index: 10; 
position: absolute; 
	     -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, .5);
-webkit-border-radius: 3px; 
-moz-border-radius: 3px; -o-border-radius: 3px; 
border-radius: 3px; 
color: #FFFFFF; 
background: #333333; 
background: -moz-linear-gradient(top, #1a1a1a 0%, #262626 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1a1a), color-stop(100%,#262626)); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#262626',GradientType=0 ); 
border: 1px solid #a39964; 
} 

#example-03:hover > span{ 
opacity: 1; 
text-decoration:none; 
visibility: visible; 
overflow: visible; 
margin-top: -80px; 
display: inline; 
margin-left: -260px; 
}

/*-------------------------------------------------------------------------------------*/


/*
     FILE ARCHIVED ON 14:18:21 Jan 15, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:13:36 Dec 17, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.563
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.009
  esindex: 0.012
  cdx.remote: 29.735
  LoadShardBlock: 119.691 (3)
  PetaboxLoader3.datanode: 147.534 (5)
  load_resource: 83.603
  PetaboxLoader3.resolve: 37.449
  loaddict: 28.134
*/