/* latin */
@font-face {
  font-family: 'Amethysta';
  font-style: normal;
  font-weight: 400;
  src: url(https://web.archive.org/web/20230128231822im_/https://fonts.gstatic.com/s/amethysta/v16/rP2Fp2K15kgb_F3ibfW4Hz-D.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
     FILE ARCHIVED ON 23:18:22 Jan 28, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:13:37 Dec 17, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.073
  exclusion.robots: 0.028
  exclusion.robots.policy: 0.012
  esindex: 0.017
  cdx.remote: 19.822
  LoadShardBlock: 315.58 (6)
  PetaboxLoader3.datanode: 322.591 (8)
  PetaboxLoader3.resolve: 339.418 (3)
  load_resource: 380.115 (2)
*/