.elementor-7692 .elementor-element.elementor-element-da6299{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-7692 .elementor-element.elementor-element-da6299 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}body.elementor-page-7692:not(.elementor-motion-effects-element-type-background), body.elementor-page-7692 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://web.archive.org/web/20230115141755im_/https://www.gloriavictisgame.info/wp-content/uploads/artwork_knights2-1.jpg");background-repeat:no-repeat;}@media(min-width:1025px){body.elementor-page-7692:not(.elementor-motion-effects-element-type-background), body.elementor-page-7692 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-attachment:fixed;}}
/*
     FILE ARCHIVED ON 14:17:55 Jan 15, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:13:35 Dec 17, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.81
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.011
  esindex: 0.017
  cdx.remote: 33.402
  LoadShardBlock: 114.203 (3)
  PetaboxLoader3.datanode: 207.513 (5)
  load_resource: 146.602
  PetaboxLoader3.resolve: 44.06
  loaddict: 52.896
*/