.elementor-kit-8650{--e-global-color-primary:RGBA(255,255,255,0.95);--e-global-color-secondary:#FFFFFF;--e-global-color-text:#FFFFFF;--e-global-color-accent:#A39964;--e-global-color-65746e82:RGBA(40,40,40,0.95);--e-global-color-75d42d09:#54595F;--e-global-color-15d0a8d:#7A7A7A;--e-global-color-7704030e:#54595F;--e-global-color-7376b876:RGBA(40,40,40,0.95);--e-global-color-2a6837ab:#000;--e-global-color-593ee44f:#FFF;--e-global-typography-primary-font-family:"Roboto";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-container{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:0px;}.elementor-element{--widgets-spacing:0px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-container{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-container{--container-max-width:767px;}}
/*
     FILE ARCHIVED ON 14:21:11 Jan 15, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:13:35 Dec 17, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.473
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.007
  esindex: 0.009
  cdx.remote: 10.666
  LoadShardBlock: 77.899 (3)
  PetaboxLoader3.datanode: 182.16 (5)
  load_resource: 191.568
  PetaboxLoader3.resolve: 59.255
  loaddict: 36.454
*/